<!DOCTYPE html>
<html lang="en" ng-app="priApp">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastWay | Dashboard</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo.png">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="dashboard" ng-controller="Main2Controller">

    <div id="preloader">
        <i>.</i>
        <i>.</i>
        <i>.</i>
    </div>

    <div id="main-wrapper">


        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="header-content">
                            <div class="header-left">


                            </div>
                            <div class="header-right">
                                <div class="dark-light-toggle"><span class="dark"><i class="ri-moon-line"></i></span><span class="light"><i class="ri-sun-line"></i></span></div>

                                <div class="dropdown profile_log dropdown">
                                    <div data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                                        <div class="user icon-menu active"><span><i class="ri-user-line"></i></span></div>
                                    </div>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu dropdown-menu-right">
                                        <div class="user-email">
                                            <div class="user">
                                                <span class="thumb"><img src="images/profile/3.png" alt=""></span>

                                            </div>
                                        </div>

                                        <a class="dropdown-item logout" href="index.html"><i class="ri-logout-circle-line"></i>Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="brand-logo">
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <a href="dashboard.html">
                            <span><i class="ri-home-5-line"></i></span>
                            <span class="nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="add_applicant.html">
                            <span><i class="ri-user-5-line"></i></span>
                            <span class="nav-text">Winnings</span>
                        </a>
                    </li>

                    <li class="logout">
                        <a href="index.html">
                            <span><i class="ri-logout-circle-line"></i></span>
                            <span class="nav-text">Signout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content-body">
            <div class="container">



                <div class="row">

                    <div class=" col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Applicants' list</h4>
                            </div>
                            <div class="card-body">

                                <div class="col-xl-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h4 class="card-title"> Applicants </h4>
                                        </div>
                                        <div class="card-body">

                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>DOB</th>
                                                        <th>SSN</th>
                                                        <th>ID Number</th>
                                                        <th>City</th>
                                                        <th>State</th>
                                                        <th>Actions</th>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="p in applicants">
                                                            <td>{{p.firstName}}</td>
                                                            <td>{{p.lastName}}</td>
                                                            <td>{{p.dob}}</td>
                                                            <td>{{p.ssn}}</td>
                                                            <td>{{p.idNumber}}</td>
                                                            <td>{{p.city}}</td>
                                                            <td>{{p.state}}</td>
                                                            <td>
                                                                <a ng-click="onDelete(p)" class="btn btn-danger">delete</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>



    </div>




    <script src="vendor/jquery/jquery.min.js "></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js "></script>





    <script src="js/scripts.js "></script>



    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js "></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-analytics.js "></script>

    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js "></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-storage.js "></script>

    <script src="./lib/angular.min.js "></script>
    <script src="./lib/moment.min.js "></script>
    <script src="./lib/angular-moment.min.js "></script>
    <script src="./js/app.js "></script>





</body>



</html>

</html>